<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FejkBuk</title>
        <link rel=icon href="Icon1.png">
        <link rel="stylesheet" href="style.css">
              <style>

              </style>
    </head>
    <body>
        <h1 class="arial">FejkBuk</h1>
        <a class="white arial"><strong>Search:</strong></a>
        <input type="text" placeholder="Search for fake friend...">
        <br>
        <h2 class="arial">Jan Krajnc</h2>
    <br>
    <div class="card">
        <img src="JanFejkBukspremenjeno.jpg" width="300" height="400">
    </div>
        <br>
        <br>
    <button type="button">Add Fejk Friend</button>
        <br>
        <br>
    <p class="category"><strong>Lives in:</strong> Slovenija, Ljubljana</p>
    <p class="category"><strong>Age:</strong> 20 something</p>
    <p class="category"><strong>Hobbys:</strong> staring at the computer screen</p>


    </body>
</html>